#main-info
{
    border: 1px solid gray;
    height:100%;
    background: #d8e8fe;
    width: 50%;
   
}

#running-header
{
	background: #f2e3cb;
	text-align:center;
	padding: 1px;
}

hr
{
   
    background-color: #901327;
    height: 3px;
   
}

h1,h2{
	
text-align:center;

}

#name
{
	z-index: 100;
	position: absolute; 
	color: black; 
	left: 215px; 
	top: 215px; 
}


body
{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: Arial;
}




nav {
    float: left;
    max-width: 100px;
    margin: 0;
    padding: 1em;
}

#aside-title-audio
{
	background: #1a10f0;
	width: 250px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 5px;
}


#aside-info
{
	float: right;
	width: 150px;
	horizontal-align: top;
	padding-left: 10px;
}

#transcript
{
	color: green;
	font-size: 12px;
	overflow: auto;
	height: 571px;
	width: 153px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 100px;
    border-left: 2px solid orange;
    border-width:100%;
    padding: 2em;
    height: 100%;
    overflow: hidden;
    width:80%;
}

.table-of-contents
{
	font-size:18px;
	text-align: center;
	color: #8e1726;
	text-decoration: none;	
}

a:hover
{
	font-weight: bold;
}

p
{
	font-size: 14px;
	font-family: Arial;
}

audio
{
	width: 230px;
}




#image
{
	float:right; 
}

#quiz-link
{
	display: none;
}


#certificate-link
{
	display: none;
}