body
{
	background: #1c1fd9;
	font-size: 20px;
	font-family: Verdana;
	font-color: white;
}
h1
{
	color:white;
	text-align:center;
	font-size: 20px;
	under-line: solid;
	under-line: white;
}

h2
{
	color:white;
	font-size: 16px;
	under-line: solid;
	under-line: white;
}
.main
{
	color: white;
	text-align:left;
	font-size: 16px;
	disply: table-cell;
}
#navigation
{
	color: white;
	text-aline: left;
	font-size: 16px;
}
a
{
	color:yellow;
	text-decoration:none;
	font-size: 12px;
	
}

a:visited
{
	color:#1ce902;
}


a:hover
{
	color:red;
	border:solid red;
}

.style1
{
	text-align: center;
	font-size: 30px;
}

.style2
{
	color: red;
}

#style4
{
	text-decoration:underline;
	font-family:Courier;
}

#layout
{
	display: table;
}

#links
{
	display: table-cell;
	width:250px;
}

#content
{
	display: table-cell;
}

#aside-title-audio
{
	background: #666666;
	width: 233px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 5px;
}

#content-frame
{
	border: none;
}
	
#transcript
{
	color: green;
	font-size: 12px;
	overflow: auto;
	height: 321px;
	width: 233px;
}

audio
{
	width: 230px;
}